/* custom css for DTS */

/* common for all views */
.border {
	background-color: #696969;
	height: 30px;
}

.navbar {
	background-color: #000000;
	width: 100%;
}

li:hover {
	text-decoration: none;
	color: #ffffff !important;
	background-color: #790000 !important;
}

.logo {
	height: 200px;
}

.body {
	height: 600px;
	background-color: #790000;
	overflow:auto;
}

#intro {
	color: white;
	font-size: 18px;
	font-family: Georgia;
}
h1, h2, h3, h4, h5, h6 { color:#EC7063; }

/* 'All Documents' section */
.table {
	color: white;
	font-size: 16px;
	border-bottom: 0px;
}

.table-hover tbody tr:hover td {
	background-color: #790000 !important;
	opacity: 0.8;
}

.sbar{
	margin-top: 10px;	
	margin-bottom: 50px;
	width: 60%;
	background-color: #790000;
	opacity: 0.8;
	float: right;
}

.h { 
	color: #EC7063;
	float: left;
}

/* 'Add Documents' section */
.form {
	color: white;
	width: 60%;
	background-color: #790000;
	opacity: 0.8;
	float: left;
}

/* 'Login' section */

.lgform {
	margin-left: 25%;
	color: white;
	width: 50%;
	background-color: #790000; 
	opacity: 0.8;
}


/* 'Profile' section */
.info {
	color: white;
	font-size: 18px;
	font-family: "Arial", "Helvetica", "sans-serif";
}
.info p:first-child{ font-size:35px;font-weight:bold; }

#profilepic{
	height:190px;
	width:190px;
	border-radius:10px;
}
#profilepic:hover{ cursor:pointer; }

.cen{ text-align:center; }

/* Sign up */
#newaccountlink {
	font-size:15px;
	color:#fff;
}
#newaccountlink:hover,
#newaccountlink:focus {
	text-decoration:underline;
	color:#ff8080 !important;
}

/* 'Offices' Section */

.o {
	color: white;
	float: left;
	cursor:pointer;
}

.o:hover {
	color: #696969;
	text-decoration: none;
}

#adept {
	float: right;
}
