/* custom css for DTS */

/* common for all views */


.list-group-item {
	border:0;
	font-size: 15px;
}


.tab-menu .list-group{
	list-style-type:none; 
	margin:2px;
	padding:0; 
	width:11%;
	background-color:blue; 
	height:10px;
	float:left;
	position:fixed;
	left:0;
	cursor:pointer;
	border-radius:20px;
}
.tab-menu .list-group .list-group-item{
	background-color: #424242;
	transition:0.3s;
}

.tab-menu .list-group .list-group-item:hover {
	background-color: #48C9B0;
	font-weight:bold;
	color:#424242;
}

.list-group {
	margin-bottom: 0;
}

.tab-menu .list-group>a h3.glyphicon {
	color: #ffffff;
}

.tab-menu .list-group >a h3.glyphicon:hover {
	color: #424242 !important;
}

.tab-menu .list-group>a {
	color: #ffffff;
}

body {
	 background:url(http://[::1]/DTS/assets/images/1.jpg) no-repeat center center fixed;  
	 -webkit-background-size: cover; 
	 -moz-background-size: cover; 
	 -o-background-size: cover; 
	 background-size: cover; 
	padding: 0px;
	margin: 0;
}
.title-banner{
	margin-top:0;
	margin-bottom:0;
	height:140px;
	margin: 0px 10px 0px 65px;
	width:1160px;
	padding:0px;
	padding-top:20px;
}
#bannertitle{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size:73.5px;
	font-weight:bold;
	margin:0;
	color:#48C9B0;
	-webkit-text-stroke:2px black;
}
.red {
	background-color: #424242;
	margin: 0px 10px 0px 65px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom:0px;
	max-width:1160px;
	min-height:1300px;
	
}

#intro {
	color: white;
	font-size: 18px;
	font-family: Georgia;
}
h1, h2, h3, h4, h5, h6 { color:#48C9B0; }
.title{ 
	color:#790000;
	font-weight:bold; 

}

/* 'All Documents' section */
.table {
	color: white;
	font-size: 16px;
}

.table-hover tbody tr:hover td {
	background-color: #48C9B0 !important;
	opacity: 0.8;
}

.sbar{
	margin-top: 25px;
	width:100%;
	background-color:#790000;
	float:right;
}

.h { 
	color: #EC7063;
	float: left;
}
/* 'home' section */
.home-searchbar{
	width:70%;
	margin:70px auto 100px auto;
}
.home-searchbar input[type=text],
.home-searchbar button{
	padding:10px;
	height:50px;
	font-size:16px;
}
/* end of Home */

/* 'Add Documents' section */
.form {
	color: white;
	width: 60%;
	background-color: #790000;
	opacity: 0.8;
	float: left;
}

/* 'Profile' section */

.roundbox {
	background-color: #48C9B0;
	border-radius: 6px;
	padding: 20px 20px 20px 20px;
	margin-left: 20px;
}

.info {
	color: white;
	font-size: 18px;
	font-family: "Arial", "Helvetica", "sans-serif";
}
.info p:first-child{ font-size:35px;font-weight:bold; }

#profilepic{
	height:100px;
	width:100px;
	border-radius:10px;
}
#profilepic:hover{ cursor:pointer; }

.cen{ text-align:center; }

.tab {
    overflow: hidden;
    border: none;
    background-color: none;
}

.tab button {
    background-color: #48C9B0;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 16px;
    transition: 0.3s;
    font-size: 17px;
	font-weight: bold;
	color: white;
	margin-right: 4px;
}

.tab button:hover {
	color: black;
	font-weight: bold;
}

.tab button.active {
    background-color: #E74C3C;
}

.tabcontent {
    display: none;
    padding: 10px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
	background-color: #48C9B0;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* 'Offices' Section */

.o {
	color: white;
	float: left;
	cursor:pointer;
}

.o:hover {
	color: #696969;
	text-decoration: none;
}

#adept {
	float: right;
} 


/* 'Login' section */
.input-underline {
	background: 0 0;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid #ffffff;
	border-radius: 0;
	width: 100%;
	color: white;
}

.input-underline:focus {
	border-bottom: 2px solid #fff;
	box-shadow: none;
}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
	position: fixed;
	max-width: 100%;
	height: auto;
}

.box {
	width: 440px;
	height: 550px;
	background-color: #48C9B0;
	opacity: 0.9;
	border: none;
	float: right;
	margin-top: -90px;
	margin-right:50px;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.lgbtn {
	border-radius: 0;
	background-color: #424949;
	width: 370px;
	color: white;
}

.lgbtn:hover {
	color: #48C9B0;
}

.subtn {
	border-radius: 50px;
	background-color: #424949;
	opacity: 0.8;
	border-color: white;
	color: white;
}

.subtn:hover {
	color: white;
}

#title {
	color: #ffffff;
	margin-top: 150px;
	margin-left: 70px;
	font-size: 40px;
	font-weight: bold;
}

#tbar {
	margin-top: 50px;
	width:650px;
	margin-left:70px;
}

.bar {
	border-radius: 0;
	background-color: #ffffff;
	border-color: #ffffff;
	opacity: 0.7;
	color: white;
	height: 41px;
}

.tbtn {
	border-radius: 0;
	width: 100px;
	height: 41px;
	background-color: #48C9B0;
	border-color: #48C9B0;
	color: #000000;
}

.tbtn:hover {
	background-color: #48C9B0;
	border-color: #48C9B0;
	color: #000000;
}

#outputbox {
	width: 665px;
	height: 200px;
	background-color: #A93226;
	opacity: 0.8;
	margin-left: 110px;
	margin-right: 560px;
}

.txtbox {
	color: white;
}
/* 'Settings' */
#settingsdiv label{
	font-family:Arial;
	color:#FFF;
	font-size:16px;
}
#profilepic-settings{
	height:230px;
	width:230px;
	border:3px solid #FFF;
	border-radius:10px;
	margin:20px auto 0px auto;
}
#profilepic-settings:hover,
#profilepic-settings:focus{
	cursor:pointer;
	filter:blur(1px);
}
/* end of 'Settings' */

/* 'Sign Up' section */
#inner-div label{
	font-family:Arial;
	font-size:16px;
}
#outer-div{
	max-width:1300px;
	max-height:700px;
	background-color:rgba(72,201,176,0.9);
	margin:20px;
	padding:30px;
	padding-top:5px;
	border-radius:7px;
}
#bgimage{
	background:url(http://[::1]/DTS/assets/images/5.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* resizing header */

/* end */
