/* custom css for DTS */

/* common for all views */
div.modal div.modal-backdrop {
    z-index: 0;
}

.btn, input[type=submit]{
	box-shadow:none;
	outline:0;
}

.navbar-header>a {
	font-family: "Josefin Slab";
	font-size: 30px;
	color: #fff !important;
	margin-top: 20px;
	text-decoration: none;
}

#brand:hover {
	color: #fff !important;
	text-decoration: none !important;
}

.logo2 {
	float: left;
	height: 46px;
	width: 46px;
	margin: 20px 10px 0px 70px;
}
.navbar {
	border: 0px !important;
	border-radius: 0px;
}

.navbar-nav li{
  display: block;
  color: #ffffff !important;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: "Josefin Slab";
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar ul li:hover {
  background-color: #34495E;
  color: #fff;
}

body {
	 background:url(http://[::1]/DTS/assets/images/1.jpg) no-repeat center center fixed;  
	 -webkit-background-size: cover; 
	 -moz-background-size: cover; 
	 -o-background-size: cover; 
	 background-size: cover; 
	padding: 0px;
	margin: 0;
}
.title-banner{
	margin-top:0;
	margin-bottom:0;
	height:120px;
	margin: 0px 10px 0px 65px;
	width:1160px;
	padding:0px;
	padding-top:20px;
}
#bannertitle{
	font-family: "Impact";
	font-size:65px;
	margin:0;
	color:#48C9B0;
	-webkit-text-stroke:0.5px #000;
}

.red {
	background-color: #34495E;
	opacity: 0.9;
	margin: 40px 0px 40px 0px;
	padding-left: 70px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom:50px;
	max-width:1200px;
	min-height:600px;
	overflow: auto;
}

#intro {
	color: white;
	font-size: 18px;
	font-family: Georgia;
}
h1, h2, h3, h4, h5, h6 { color:#000000; font-weight: bold; }
.title{ 
	color:#790000;
	font-weight:bold; 

}

/* 'All Documents' section */
.table {
	color: white;
	font-size: 16px;
}

.table-hover tbody tr:hover td {
	background-color: #696969 !important;
	opacity: 0.8;
}

.sbar{
	margin-top: 25px;
	width:100%;
	float:right;
}

.h { 
	color: #EC7063;
	float: left;
}
/* 'home' section */
.home-searchbar{
	width:70%;
	margin:70px auto 100px auto;
}
.home-searchbar input[type=text],
.home-searchbar button{
	padding:10px;
	height:50px;
	font-size:16px;
}
/* end of Home */

/* 'Add Documents' section */
.form {
	color: white;
	width: 60%;
	background-color: #790000;
	opacity: 0.8;
	float: left;
}

/* 'Profile' section */

.roundbox {
	background-color: #242424;
	opacity: 1.0 !important;
	border-radius: 6px;
	padding: 30px 20px 20px 20px;
	margin-left: 20px;
	margin-right: 30px;
}
/* 'DINAGDAG MO GELO' */
.userinfo{
	padding-left: 10px;
	color: white;
	font-size: 28px;
	font-family: "Arial", "Helvetica", "sans-serif";
}
.usertitle{ 
	color:white;
	font-weight:bold; 
	font-size: 28px;
	font-family: "Arial", "Helvetica", "sans-serif";
}
.glypic{
	float:left;
	postion:relative;
}
.info {
	padding: 10px 20px 20px 20px;
	color: white;
	font-size: 18px;
	font-family: "Arial", "Helvetica", "sans-serif";
}
.info p:first-child{ text-align:center;font-size:20px; }

#profilepic{
	height:150px;
	width:150px;
	border-radius:10px;
	margin:0px auto;
}
#profilepic:hover{ cursor:pointer; }

.cen{ text-align:center; }

.tab {
    overflow: hidden;
    border: none;
    background-color: none;
}

.tab button {
    background-color: #242424;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 16px;
    transition: 0.3s;
    font-size: 17px;
	font-weight: bold;
	color: white;
	margin-right: 4px;
}

.tab button:hover {
	color: #5D6D7E;
	font-weight: bold;
}

.tab button.active {
    background-color: #E74C3C;
}

.tab-menu .list-group .list-group-item .active{
	background-color: #242424;
	font-weight:bold;
	color:#424242;
}

.active{
	background-color: #48C9B0;
	font-weight:bold;
	color:#424242;
}

.tabcontent {
    display: none;
    padding: 10px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
	background-color: #242424;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* 'Offices' Section */

.o {
	color: white;
	float: left;
	cursor:pointer;
}

.o:hover {
	color: #696969;
	text-decoration: none;
}

#adept {
	float: right;
} 


/* 'Login' section */
.logo1 {
	float: left;
	height: 60px;
	width: 55px;
	margin-right: 10px;
}

.input-underline {
	background: 0 0;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid #ffffff;
	border-radius: 0;
	width: 100%;
	color: white;
}

.input-underline:focus {
	border-bottom: 2px solid #fff;
	box-shadow: none;
}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
	position: fixed;
	max-width: 100%;
	height: auto;
}

.box {
	width: 440px;
	height: 550px;
	background-color: #34495E;
	opacity: 0.9;
	border: none;
	float: right;
	margin-top: 60px;
	margin-right:50px;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.lgbtn {
	border-radius: 0;
	background-color: #000000;
	width: 370px;
	color: white;
}

.lgbtn:hover {
	color: #5D6D7E
}

.subtn {
	border-radius: 50px;
	background-color: #000000;
	opacity: 0.8;
	border-color: white;
	color: white;
}

.subtn:hover {
	color: #5D6D7E
}

#title {
	color: #1B2631;
	margin-top: 200px;
	margin-left: 70px;
	font-size: 50px;
	font-weight: bold;
	font-family: "Josefin Slab";
}

#tbar {
	margin-top: 25px;
	width:650px;
	margin-left:100px;
}

.bar {
	border-radius: 0;
	background-color: #ffffff;
	border-color: #ffffff;
	opacity: 0.7;
	color: white;
	height: 41px;
}

.tbtn {
	border-radius: 0;
	width: 100px;
	height: 41px;
	background-color: #34495E;
	border-color: #34495E;
	color: #000000;
}

.tbtn:hover {
	background-color: #34495E;
	border-color: #34495E;
	color: #ffffff;
}

.txtbox {
	color: white;
}

/* 'Settings' */
#password-change label{
	font-family:Arial;
	color:#FFF;
	font-size:16px;
}
#settingsdiv label{
	font-family:Arial;
	color:#FFF;
	font-size:16px;
}
#settings-uname{
	color:#FFF;
	font-size:35px;
	font-weight:bold;
	font-family: 'Arial', 'Helvetica', 'sans-serif';
}
#profilepic-settings{
	height:230px;
	width:230px;
	border:4px solid #cccccc;
	border-radius:10px;
	margin:20px auto 0px auto;
}
#profilepic-settings:hover,
#profilepic-settings:focus{
	cursor:pointer;
	filter:blur(1px);
}
.upload-pic-form{ 
	margin:30px auto; 
	padding:0px auto; 
	width:230px;
}
 input[type="file"]::-webkit-file-upload-button
 {
	font-family:Arial;
	font-size:16px;
	background-color:#35b198;
	padding:10px;
	color:#FFFFFF;
	border-radius:5px;
	border:none;
	margin:auto;
 }
 input[type="file"]:hover::-webkit-file-upload-button{ 
	background-color:#298976;
	cursor:pointer;
 }
/* end of 'Settings' */

/* 'Sign Up' section */
#inner-div label{
	font-family:Arial;
	font-size:16px;
}
#outer-div{
	max-width:1300px;
	max-height:700px;
	background-color:rgba(72,201,176,0.9);
	margin:20px;
	padding:30px;
	padding-top:5px;
	border-radius:7px;
}
#bgimage{
	background:url(http://[::1]/DTS/assets/images/5.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
