/* custom css for DTS */

/* common for all views */
.border {
	background-color: #696969;
	height: 30px;
}

.navbar {
	background-color: #000000;
	width: 100%;
}

li:hover {
	text-decoration: none;
	color: #ffffff !important;
	background-color: #790000 !important;
}

.logo {
	height: 200px;
}

.body {
	height: 600px;
	background-color: #790000;
	overflow:auto;
}

#intro {
	color: white;
	font-size: 18px;
	font-family: Georgia;
}
h1, h2, h3, h4, h5, h6 { color:#EC7063; }

/* 'All Documents' section */
.table {
	color: white;
	font-size: 16px;
	border-bottom: 0px;
}

.table-hover tbody tr:hover td {
	background-color: #790000 !important;
	opacity: 0.8;
}

.sbar{
	margin-top: 10px;	
	margin-bottom: 50px;
	width: 60%;
	background-color: #790000;
	opacity: 0.8;
	float: right;
}

.h { 
	color: #EC7063;
	float: left;
} /* end of 'All Documents' section */

/* 'Add Documents' section */
.form {
	color: white;
	width: 60%;
	background-color: #790000;
	opacity: 0.8;
	float: left;
}/* end of 'Add Documents' section */

/* 'Profile' section */
.info {
	color: white;
	font-size: 18px;
	font-family: "Arial", "Helvetica", "sans-serif";
}
.info p:first-child{ font-size:35px;font-weight:bold; }

#profilepic{
	height:190px;
	width:190px;
	border-radius:10px;
}
#profilepic:hover{ cursor:pointer; }

.cen{ text-align:center; }
/* end of 'Profile' section */

/* 'Offices' Section */

.o {
	color: white;
	float: left;
	cursor:pointer;
}

.o:hover {
	color: #696969;
	text-decoration: none;
}

#adept {
	float: right;
} /* end of 'Offices' Section */


/* 'Login' section */
.input-underline {
	background: 0 0;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 0;
	width: 100%;
	color: white;
}

.input-underline:focus {
	border-bottom: 2px solid #fff;
	box-shadow: none;
}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
	position: fixed;
	width: 100%;
	height: 100%;
}

.box {
	width: 440px;
	height: 550px;
	background-color: #A93226;
	opacity: 0.8;
	border: none;
	float: right;
	margin-top: 70px;
	margin-right:50px;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.lgbtn {
	border-radius: 0;
	background-color: #424949;
	width: 370px;
	color: white;
}

.lgbtn:hover {
	color: red;
}

.subtn {
	border-radius: 50px;
	background-color: #A93226;
	opacity: 0.8;
	border-color: white;
	color: white;
}

#title {
	color: #A93226;
	margin-top: 150px;
	margin-left: 70px;
	font-size: 40px;
	font-weight: bold;
}

#tbar {
	margin-top: 50px;
	width:650px;
	margin-left:70px;
}

.bar {
	border-radius: 0;
	background-color: grey;
	border-color: grey;
	opacity: 0.7;
	color: white;
	height: 41px;
}

.tbtn {
	border-radius: 0;
	width: 100px;
	height: 41px;
}

#outputbox {
	width: 665px;
	height: 200px;
	background-color: #A93226;
	opacity: 0.8;
	margin-left: 110px;
	margin-right: 560px;
}

.txtbox {
	color: white;
}
/* end of 'Login' section */

/* 'Sign Up' section */
#inner-div label{
	color:white;
	font-family:Arial;
	font-size:16px;
}
#outer-div{
	width:70%;
	background-color:rgba(169,50,38,0.9);
	margin:40px auto 60px;
	padding:20px 100px 60px;
	border-radius:10px;
}
#bgimage{
	background:url(http://[::1]/DTS/assets/images/3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


